.result-container
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px 40px;
}
table{
    
        text-align: center;
        width: 45%;
        border: none;
        font-family: inherit;
        background-color: transparent;
      
}
th, td {
    
    text-align: center;
  }
  .words, .count {
      color:coral;
    width: 15%;
    font-size: 25px;
    padding: 2%;
    text-align: center;
    vertical-align: top;
    background-color: transparent;
  }
  .words1, .count1 {
    color:cyan;
  width: 15%;
  font-size: 25px;
  padding: 2%;
  text-align: center;
  vertical-align: top;
  background-color: transparent;
}

  