.search-container
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px;
}

.search-input
{
    padding: 8px 15px;
    font-size: 15px;
    width: 350px;
    border-width: 0;
    background-color: darksalmon;
    color: white;
    border-radius: 50px;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);

}

.search-input::placeholder
{
    color:white;
}

.search-input:focus
{
    outline: none;
}